/*
* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 400;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 500;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 700;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 900;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format('opentype');
 }
* {
  box-sizing: border-box; }
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans TC", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  color: #606c71;
  background-color: #ECECEA; }

a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
  .btn + .btn {
    margin-left: 1rem; }

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3); }

@media screen and (min-width: 64em) {
  .btn {
    padding: 0.75rem 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem; } }

@media screen and (max-width: 42em) {
  .btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem; }
    .btn + .btn {
      margin-top: 1rem;
      margin-left: 0; } }

.page-header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957); }

@media screen and (min-width: 64em) {
  .page-header {
    padding: 5rem 6rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
    padding: 3rem 4rem; } }

@media screen and (max-width: 42em) {
  .page-header {
    padding: 2rem 1rem; } }
  background-color: black;
  background-size: auto 130vh;
  background-position: center;
  background-repeat: no-repeat;
  /*background-image: linear-gradient(120deg, #155799, #159957);*/
  height: 100vh;}

@media screen and (min-width: 64em) {
  .page-header {
    padding: 3rem 4rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
    padding: 1rem 2rem; } }

@media screen and (max-width: 42em) {
  .page-header {
    padding: 1rem 0.5rem; } }

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem; }

@media screen and (min-width: 64em) {
  .project-name {
    font-size: 3.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    font-size: 2.25rem; } }

@media screen and (max-width: 42em) {
  .project-name {
    font-size: 1.75rem; } }

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7; }

@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 1.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-tagline {
    font-size: 1.15rem; } }

@media screen and (max-width: 42em) {
  .project-tagline {
    font-size: 1rem; } }

.main-content :first-child {
  margin-top: 0; }
.main-content img {
  max-width: 100%; }
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #558C89; }
.main-content p {
  font-weight: 300;
  margin-bottom: 1em; }
.main-content code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1rem;
  color: #383e41;
  background-color: #f3f6fa;
  border-radius: 0.3rem; }
.main-content pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem; }
  .main-content pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0; }
.main-content .highlight {
  margin-bottom: 1rem; }
  .main-content .highlight pre {
    margin-bottom: 0;
    word-break: normal; }
.main-content .highlight pre, .main-content pre {
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.6rem;
  line-height: 1.45;
  border-radius: 0.3rem; }
.main-content pre code, .main-content pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  word-break: normal;
  background-color: transparent;
  border: 0; }
  .main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after {
    content: normal; }
.main-content ul, .main-content ol {
  margin-top: 0; }
.main-content blockquote {
  padding: 0.8rem 0.8rem 0.8rem 0.8rem;
  font-size: 0.8rem;
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #819198;
  overflow: auto;
  background-color: #f3f6fa;
  border: solid 1px #74AFAD; }
  .main-content blockquote > :first-child {
    margin-top: 0; }
  .main-content blockquote > :last-child {
    margin-bottom: 0; }
.main-content table {
  display: block;
  font-size: 0.75rem;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all; }
  .main-content table th {
    font-weight: 500; }
  .main-content table th, .main-content table td {
    padding: 0.4rem 0.4rem;
    border: 1px solid #74AFAD; }
.main-content dl {
  padding: 0; }
  .main-content dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 0.7rem;
    font-weight: 300; }
  .main-content dl dd {
    padding: 0;
    margin-bottom: 1rem; }
.main-content hr {
  height: 1px;
  padding: 0;
  margin: 1rem 0;
  background-color: #74AFAD;
  border: 0; }

@media screen and (min-width: 64em) {
  .main-content {
    max-width: 64rem;
    padding: 1rem 6rem;
    margin: 0 auto;
    font-size: 0.9rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .main-content {
    padding: 1rem 4rem;
    font-size: 0.85rem; }
  .main-content table {
      display: block;
      font-size: 0.75rem;
      width: 100%;
      overflow: auto;
      word-break: normal;
      word-break: keep-all; } }

@media screen and (max-width: 42em) {
  .main-content {
    padding: 0.5rem 0.5rem;
    font-size: 0.85rem; }
  .main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem; }
  .main-content blockquote {
  font-size: 0.85rem;
  margin-right: 0.2rem; }
  .main-content table {
      display: block;
      font-size: 0.75rem;
      width: 100%;
      overflow: auto;
      word-break: normal;
      word-break: keep-all; }
  .main-content table th {
      font-weight: bold; }
  .main-content table th, .main-content table td {
      padding: 0.28rem 0.28rem;
      border: 1px solid #74AFAD; } }

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #74AFAD; }

.site-footer-owner {
  display: block;
  font-weight: bold; }

.site-footer-credits {
  color: #819198; }

@media screen and (min-width: 64em) {
  .site-footer {
    font-size: 0.8rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .site-footer {
    padding-top: 1.2rem;
    font-size: 0.8rem; } }

@media screen and (max-width: 42em) {
  .site-footer {
    padding-top: 0.8rem;
    font-size: 0.7rem; } }

@media only screen and (min-width: 42em) {
    .narrowonly {
        display: none;
    }
}
Responsive Tables
Home
The Unseen Column
Flip Scroll
No More Tables
collated by Simon Elvery
Responsive Tables Demo
A quick and dirty look at some techniques for designing responsive table layouts. This was put together in haste (and with the aid of Twitter Bootstrap) for What Do You Know Brisbane hosted by Web Directions.

I work for a really great little web design agency in Brisbane, and you should say hello.

The Unseen Column
This technique, first described by Stuart Curry (@irishstu) involves simply hiding less important columns on smaller screen sizes.

Example
Code  Company Price Change  Change %  Open  High  Low Volume
AAC AUSTRALIAN AGRICULTURAL COMPANY LIMITED.  $1.38 -0.01 -0.36%  $1.39 $1.39 $1.38 9,395
AAD ARDENT LEISURE GROUP  $1.15 +0.02 1.32% $1.14 $1.15 $1.13 56,431
AAX AUSENCO LIMITED $4.00 -0.04 -0.99%  $4.01 $4.05 $4.00 90,641
ABC ADELAIDE BRIGHTON LIMITED $3.00 +0.06 2.04% $2.98 $3.00 $2.96 862,518
ABP ABACUS PROPERTY GROUP $1.91 0.00  0.00% $1.92 $1.93 $1.90 595,701
ABY ADITYA BIRLA MINERALS LIMITED $0.77 +0.02 2.00% $0.76 $0.77 $0.76 54,567
ACR ACRUX LIMITED $3.71 +0.01 0.14% $3.70 $3.72 $3.68 191,373
ADU ADAMUS RESOURCES LIMITED  $0.72 0.00  0.00% $0.73 $0.74 $0.72 8,602,291
AGG ANGLOGOLD ASHANTI LIMITED $7.81 -0.22 -2.74%  $7.82 $7.82 $7.81 148
AGK AGL ENERGY LIMITED  $13.82  +0.02 0.14% $13.83  $13.83  $13.67  846,403
AGO ATLAS IRON LIMITED  $3.17 -0.02 -0.47%  $3.11 $3.22 $3.10 5,416,303
Code
The approach I've presented here assumes you know the index of the columns to be hidden. This probably isn't always appropriate, and isn't all that semantic. Another option is to give the <th> and <td> classes based on importance level and code your CSS accordingly.

HTML
CSS
<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Company</th>
      <th class="numeric">Price</th>
      <th class="numeric">Change</th>
      <th class="numeric">Change %</th>
      <th class="numeric">Open</th>
      <th class="numeric">High</th>
      <th class="numeric">Low</th>
      <th class="numeric">Volume</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>AAC</td>
      <td>AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
      <td class="numeric">$1.38</td>
      <td class="numeric">-0.01</td>
      <td class="numeric">-0.36%</td>
      <td class="numeric">$1.39</td>
      <td class="numeric">$1.39</td>
      <td class="numeric">$1.38</td>
      <td class="numeric">9,395</td>
    </tr>
  </tbody>
</table>
            
Flip Scroll
This technique was first published by David Bushell (@dbushell). For the full low down on this technique visit his post on the technique, Responsive Tables (2). While you're there, it's also worth checking out his responsive calendar proof of concept.

Example
Code  Company Price Change  Change %  Open  High  Low Volume
AAC AUSTRALIAN AGRICULTURAL COMPANY LIMITED.  $1.38 -0.01 -0.36%  $1.39 $1.39 $1.38 9,395
AAD ARDENT LEISURE GROUP  $1.15 +0.02 1.32% $1.14 $1.15 $1.13 56,431
AAX AUSENCO LIMITED $4.00 -0.04 -0.99%  $4.01 $4.05 $4.00 90,641
ABC ADELAIDE BRIGHTON LIMITED $3.00 +0.06 2.04% $2.98 $3.00 $2.96 862,518
ABP ABACUS PROPERTY GROUP $1.91 0.00  0.00% $1.92 $1.93 $1.90 595,701
ABY ADITYA BIRLA MINERALS LIMITED $0.77 +0.02 2.00% $0.76 $0.77 $0.76 54,567
ACR ACRUX LIMITED $3.71 +0.01 0.14% $3.70 $3.72 $3.68 191,373
ADU ADAMUS RESOURCES LIMITED  $0.72 0.00  0.00% $0.73 $0.74 $0.72 8,602,291
AGG ANGLOGOLD ASHANTI LIMITED $7.81 -0.22 -2.74%  $7.82 $7.82 $7.81 148
AGK AGL ENERGY LIMITED  $13.82  +0.02 0.14% $13.83  $13.83  $13.67  846,403
AGO ATLAS IRON LIMITED  $3.17 -0.02 -0.47%  $3.11 $3.22 $3.10 5,416,303
Code
The biggest trick to getting this working is to use display: inline-block; on the table rows and white-space: nowrap; on the table body. You'll also need to make use of your favourite float clearing method.

HTML
CSS
 
@media only screen and (max-width: 800px) {
  
  #flip-scroll .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
  #flip-scroll * html .cf { zoom: 1; }
  #flip-scroll *:first-child+html .cf { zoom: 1; }
  
  #flip-scroll table { width: 100%; border-collapse: collapse; border-spacing: 0; }
 
  #flip-scroll th,
  #flip-scroll td { margin: 0; vertical-align: top; }
  #flip-scroll th { text-align: left; }
  
  #flip-scroll table { display: block; position: relative; width: 100%; }
  #flip-scroll thead { display: block; float: left; }
  #flip-scroll tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
  #flip-scroll thead tr { display: block; }
  #flip-scroll th { display: block; text-align: right; }
  #flip-scroll tbody tr { display: inline-block; vertical-align: top; }
  #flip-scroll td { display: block; min-height: 1.25em; text-align: left; }
 
 
  /* sort out borders */
 
  #flip-scroll th { border-bottom: 0; border-left: 0; }
  #flip-scroll td { border-left: 0; border-right: 0; border-bottom: 0; }
  #flip-scroll tbody tr { border-left: 1px solid #babcbf; }
  #flip-scroll th:last-child,
  #flip-scroll td:last-child { border-bottom: 1px solid #babcbf; }
}
            
No More Tables
This technique was developed by Chris Coyier (@chriscoyier) and described in his post Responsive Data Tables at css-tricks.com. While you're there, you should probably check out the Responsive Tables Roundup post, which showcases all these techniques and more.

Example
Code  Company Price Change  Change %  Open  High  Low Volume
AAC AUSTRALIAN AGRICULTURAL COMPANY LIMITED.  $1.38 -0.01 -0.36%  $1.39 $1.39 $1.38 9,395
AAD ARDENT LEISURE GROUP  $1.15 +0.02 1.32% $1.14 $1.15 $1.13 56,431
AAX AUSENCO LIMITED $4.00 -0.04 -0.99%  $4.01 $4.05 $4.00 90,641
ABC ADELAIDE BRIGHTON LIMITED $3.00 +0.06 2.04% $2.98 $3.00 $2.96 862,518
ABP ABACUS PROPERTY GROUP $1.91 0.00  0.00% $1.92 $1.93 $1.90 595,701
ABY ADITYA BIRLA MINERALS LIMITED $0.77 +0.02 2.00% $0.76 $0.77 $0.76 54,567
ACR ACRUX LIMITED $3.71 +0.01 0.14% $3.70 $3.72 $3.68 191,373
ADU ADAMUS RESOURCES LIMITED  $0.72 0.00  0.00% $0.73 $0.74 $0.72 8,602,291
AGG ANGLOGOLD ASHANTI LIMITED $7.81 -0.22 -2.74%  $7.82 $7.82 $7.81 148
AGK AGL ENERGY LIMITED  $13.82  +0.02 0.14% $13.83  $13.83  $13.67  846,403
AGO ATLAS IRON LIMITED  $3.17 -0.02 -0.47%  $3.11 $3.22 $3.10 5,416,303
Code
This technique as presented here relies on using HTML5 data attributes and accessing them via CSS to specify the column headings. The other option is to hard code the column headings into the CSS, but as we all know content in CSS is a huge no-no.

HTML
CSS
@media only screen and (max-width: 800px) {
  
  /* Force table to not be like tables anymore */
  #no-more-tables table, 
  #no-more-tables thead, 
  #no-more-tables tbody, 
  #no-more-tables th, 
  #no-more-tables td, 
  #no-more-tables tr { 
    display: block; 
  }
 
  /* Hide table headers (but not display: none;, for accessibility) */
  #no-more-tables thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
 
  #no-more-tables tr { border: 1px solid #ccc; }
 
  #no-more-tables td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
    white-space: normal;
    text-align:left;
  }
 
  #no-more-tables td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
  }
 
  /*
  Label the data
  */
  #no-more-tables td:before { content: attr(data-title); }
}
            
